


<style>
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;
    }

    .embed-container {
        position: relative;
        padding-bottom: 50%; /* 16:9 aspect ratio (adjust as needed) */
        height: 0;
        overflow: hidden;
    }

    .embed-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
</style>


<body>
    <div class="row">
        <div class="col-6">
            <a class="btn btn-lg-danger mx-2">
                <i class="bi bi-arrow-90deg-left"></i>
            </a>
        </div>
        <div class="col-6">
            <h1 class="">Power BI</h1>
        </div>
    </div>
    <div class="embed-container">
        @* <iframe title="Reporte Yomp" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNWFhZWY4ZTItZGNjNy00NTYzLTlkZDctNDcwN2ZjOGI3NjY5IiwidCI6IjQyMmNlZDMwLWZjMjAtNGUyYi04NzRkLWMyZjJiNmE2ZmM1NiIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe> *@
        <iframe title="Reporte Yomp" src="https://app.powerbi.com/view?r=eyJrIjoiNWFhZWY4ZTItZGNjNy00NTYzLTlkZDctNDcwN2ZjOGI3NjY5IiwidCI6IjQyMmNlZDMwLWZjMjAtNGUyYi04NzRkLWMyZjJiNmE2ZmM1NiIsImMiOjR9" frameborder="0" allowfullscreen="true"></iframe>
    </div>
</body>




